* {
    margin: 0; padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    background-color: #FCF9EE;
}
/*-------------------font-------------------*/
/* .your-style {
    font-family: 'Bookk Myungjo';
    font-weight: 300;
    font-style: normal;
}
.your-style {
    font-family: 'Bookk Myungjo';
    font-weight: bold;
    font-style: normal;
} //영어폰트_부크크
*/
@font-face {
    font-family: 'KOTRA_GOTHIC';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@mixin kotra {
    font-family: 'KOTRA_GOTHIC';
    font-weight: normal;
} //한글폰트_코트라

@mixin text($height) {
    text-align: center;
    line-height: $height;
} //텍스트 가운데 정렬
@mixin center {
    width: 1300px;
    margin: 0 auto;
}
@mixin bookk01 {
    font-family: 'Bookk Myungjo';
    font-weight: 300;
}
@mixin bookk02 {
    font-family: 'Bookk Myungjo';
    font-weight: bold;
}


/*-------------------logo_box-------------------*/
.header_wrap.drop {
    position: fixed;
    top: 0;
    background-color: #fcf9ee;
    z-index: 999;
    border: none;
    
    .logo_box {
        p {
           color: #000;
        }
    }
    .lnb {
        #main_lnb {
            >li {
                a {
                    color: #000;
                }
            }
        }
    }
    
}



header {
    width: 100%;
    height: auto;
    position: relative;
    top: 0px;
    left: 0;
    margin-bottom: 100px;
}
.header_wrap {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    height: 80px;
    position: relative;
    z-index: 1;
    transition: all 0.5s;
}
.header_area {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
.logo_box {
    float: left;
    padding: 13px 0;
    box-sizing: border-box;
    margin-right: 45px;
    p {
        font-family: 'Bookk Myungjo';
        font-weight: bold;
        color: #000;
        text-align: center;
        

        &:nth-child(1) {
        font-size: 30px;
        }
        &:nth-child(2) {
            font-size: 12px;
             letter-spacing: 5px;
            }

    }
}

.lnb {
    #main_lnb {
        >li {
            float: left;
            box-sizing: border-box;
            line-height: 80px;
            display: block;
            height: 80px;
            padding-left: 80px;

            >a {
                color: #000;
                font-family: 'Bookk Myungjo';
                font-size: 20px;
                font-weight: bold;
                height: 80px;
                display: block;
            }

            .font_color, .font_color:hover  {
                -webkit-backface-visibility:hidden;
                 backface-visibility:hidden;
	            position:relative;
                transition:0.1s color ease;
	            text-decoration:none;
            }
            
        }
       
    }
}
.header_wrap::after {
    content: "";
    width: 100%; height: 80px;
    background-color: #fcf9ee;
    position: absolute;
    left: 0; top:0;
    z-index: 1;
    transition: 0.3s;
    opacity: 0;
}


.font_color.after:after{
    content: ""; 
    height:2px;
    width:0px;
    background:#000;
    position:absolute;
    z-index: 2;
    left:50%; bottom:0em;
    transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transform:translateX(-50%);
    transform:translateX(-50%);
}
.lnb_item:hover .font_color.after:after {
    width:100%;
  } 



.sub_menu_area {
    width: 100vw; height: 60px;
    /* margin-left: calc(-50vw + 50%); */ 
    background-color: #FCF9EE;
    position: absolute;
    top: 80px; left: 50%;
    transform: translateX(-50%);
    display: none;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    .sub_menu {
        display: block;
        width: 1300px; height: 60px;
        margin: 0 auto;
        position: relative;
        left: 315px; top: 0;
        
        li {
            float: left;
            line-height: 60px;
            padding-right: 50px;
            a {
                font-size: 16px;
                font-family: "KOTRA_GOTHIC";
            }

        }
    }
    .sub_menu02 {
        left: 435px;
    }
    .sub_menu03 {
        left: 557;
    }
    .sub_menu04 {
        left: 680px;
    }

}

.gnb_icon_area {
    float: right;
    margin-right: 45px;
    line-height: 90px;
    .search_box {
        width: 30px; height: 30px;
        float: left;
        position: relative;

        img {
            width: 95%;
            position: absolute;
            top: 23px; left: 0;

        }

    } /*search_box*/

    .login_box {
        width: 30px; height: 30px;
        float: left;
        margin: 0 25px;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            top: 23px; left: 0;
        }
    } /*login_box*/

    .cart_box {
        width: 30px; height: 30px;
        float: left;
        position: relative;

        img {
            width: 100%;
            position: absolute;
            top: 23px; left: 0;
        }
        .cart_black {
            width: 100%;
            left: 0; top: 23px;
        }
    }

} /*gnb_icon_area*/


/*---------------------------search_area---------------------------*/
.search_area {
    position: absolute;
    top: 0px; left: 0;
    width: 100%;
    height: 0px;
    background-color: #FCF9EE;
    z-index: 2;
    /* display: none; */
    overflow: hidden;
    transition: all 0.3s;
    border-bottom: 1px solid #dbdbdb;

    
    .search{    
        width: 1300px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        margin-top: 40px;

        .search_logo {
            position: relative;
            width: 193px;
            color: #000;
            z-index: 2;
            padding: 10px 0;
            box-sizing: border-box;
            
        
            a {
                font-family: 'Bookk Myungjo';
                font-weight: bold;
                text-align: center;
                

                p:nth-child(1) {
                    font-size: 30px;
                }
                p:nth-child(2) {
                    font-size: 12px;
                    letter-spacing: 5px;
                }
            }
        }

        .search_content {
            width: 700px;
            height: 120px;
            margin: 0 auto;
            padding-top: 20px;
            box-sizing: border-box;

            .search_bar {
                border-bottom: 1px solid #000;
                box-sizing: border-box;
                position: relative;

               .search_input {
                border: none;
                background-color: transparent;
                width: 650px;
                height: 40px;
                padding: 0px 10px;
                box-sizing: border-box;
                outline: none;
                font-size: 18px;
                @include kotra()
               }

               .search_input::placeholder {
                font-size: 17px;
                /* line-height: 50px; */
               }

               .search_icon {
                position: absolute;
                width: 30px; height: 30px;
                right: 10px; top: 5px;

                img {
                    width: 100%;
                }
               }


            }

        } /*search_content*/

        .tag_area {
            width: 1300px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-top: 40px;

            
            a {
                background-color: #fff;
                padding: 8px 15px;
                box-sizing: border-box;
                font-size: 14px;
                @include kotra();
                border: 1px solid #000;   
            }
            a:hover {
                background-color: #000;
                color: #fff;
            }
        }

        .search_close {
            width: 40px; height: 40px;
            background-color: transparent;
            border: none;
            position: absolute;
            right: 10px; top: 10px;
            cursor: pointer;
    
            img {
                width: 100%;
            }
        }
    }
}

/*---------------------------route---------------------------*/
.route {
    @include center();

    .route_txt {
        display: flex;
        height: 40px;
    
        p {
            @include bookk02();
            font-size: 15px;
        }
    
        span {
            width: 12px;
            margin: 0 15px;
    
            img {
                width: 100%;

            }
        }
    } 
}

.detail_content01 {
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #fff;
   
       .detail_wrap {
           width: 750px;
           float: left;
           padding: 20px 0px;
           box-sizing: border-box;
       }
   
       .detail_info {
           width: 550px;
           height: auto;
           float: left;
           padding: 150px 0 0 0;
           box-sizing: border-box;
   
           .detail_txt01 {
            text-align: center;
           margin-bottom: 50px;


            p:nth-child(1),p:nth-child(4) {
                @include bookk02();
                margin-bottom: 35px;
            }
            p:nth-child(2) {
                @include bookk02();
                margin-bottom: 15px;
            }
            p:nth-child(3) {
                @include kotra();
                margin-bottom: 35px;
            }
            p:nth-child(5), p:nth-child(6) {
                @include kotra();
                font-size: 14px;
            }
            p:nth-child(5) {
                margin-bottom: 10px;
            }
           } /*detail_txt01*/

           .detail_option {
            width: 300px; height: 50px;
            margin: 0 auto;
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 0px 30px;
            line-height: 50px;
            @include bookk01();
            cursor: pointer;
            position: relative;

            p {
                text-align: center;
            }

            .option_box {
                position: absolute;
                top: 48px; left: -1px;
                background-color: #fff;
                border: 1px solid #000;
                box-sizing: border-box;
                width: 300px;
                display: none;

                    &>div {
                        border-bottom: 1px solid #000;
                        padding: 0 20px;
                        box-sizing: border-box;
                        @include bookk01();
                        text-align: center;
                        font-size: 15px;
                    }
                    &>div:last-child {
                        border-bottom: none;
                    }
                    &>div:hover {
                        background-color: #f1f1f1;
                    }
                
            }
           } /*detail_option*/

           .detail_button {
            width: 440px; height: 100px;
            display: flex;
            gap: 20px;
            align-items: center;
            margin: 0 auto;
            

            .cart_btn {
                width: 200px; height: 45px;
                background-color: #fff;
                border: 1px solid #000;
                box-sizing: border-box;
                @include bookk01();
                cursor: pointer;
                transition: all .3s;
                @include text(45px)
            }

            .buy_btn {
                width: 200px; height: 45px;
                background-color: #000;
                color: #fff;
                @include bookk01();
                cursor: pointer;
                 @include text(45px)
            }
           }
       }
   
/*-------------new_swiper-------------*/
   .swiper {
       width: 100%;
       height: 300px;
       margin-left: auto;
       margin-right: auto;
     }
   
     .mySwiper2 {
       width: 750px;
       height: 550px;
       text-align: center;
       position: relative;

       .swiper-slide {
        padding: 20px 30px;
        box-sizing: border-box;
        background-size: cover;
       background-position: center;

        img {
            width: 450px; height: 450px;
            filter: drop-shadow(10px 6px 6px #c3c3c3);
            object-fit: cover;
          }
       }
       
       
   
       
     } /*mySwiper2*/
   
     .mySwiper2 .swiper-slide:hover .new_txt {
       opacity: 1;
   }
   
     .mySwiper {
       height: 130px;
       width: 730px;
       text-align: center;
       margin: 0 auto;
   
       .swiper-slide {
           width: 20%;
           background-color: #fafafa;  
   
           img {
               width: 130px; height: 130px;
               object-fit: cover;
           }
       }
       
       
     }

     .mySwiper .swiper-slide-thumb-active {
       opacity: 1;
     }
   
     .swiper-button-next:after, .swiper-button-prev:after {
       display: none;
     }
   
     .swiper-button-next, .swiper-button-prev {
           width: 30px;
           height: 50px;
           
        img {
            width: 100%;
        }
     }

   }

.detail_cart {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: none;
      }   
    
       .bg {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.6);
      }
    
      .detail_box {
        position: absolute;
        background-color: #fff;
        width: 500px;
        height: 1010px;
        top: 0; right: 0;
        overflow: hidden;
        box-sizing: border-box;
        padding: 15px;

       .inner {
        height: 100%;
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 0 50px;

        &>p {
            @include kotra();
            text-align: center;
            height: 300px;
            line-height: 300px;
        }

        .product_info {
            display: flex;
            margin-bottom: 30px;

            &>div:nth-of-type(1) {
               width: 110px; height: 180px; 
               margin-right: 20px;

               img {
                width: 100%; height: 100%;
                object-fit: cover;
               }
            }
            &>div:nth-of-type(2) {
                width: 200px; height: 180px;
                padding: 50px 0px;
                box-sizing: border-box;

                p {
                    font-size: 14px;
                    text-align: center;
                    margin-bottom: 10px;
                    @include bookk02();
                }
                p:nth-child(2) {
                    @include kotra();
                }
            }
        }

        .count {
            display: flex;
            margin-bottom: 60px;

            &>div {
                border: 1px solid #000;
                padding: 2px 10px;
                box-sizing: border-box;
                margin:0px 20px;

                input {
                    border: none;
                    background-color: #fff;
                }
                .calc {
                    width: 20px; height: 15px;
                }

                .num {
                    width: 15px; height: 15px;
                }
            }
            span {
                @include bookk02();
                font-size: 14px;
                line-height: 25px;
                margin:0px 5px 0px 65px;
            }

            .sum_result {
                border: none;
            }
        }
       }

       button {
        width: 330px; height: 45px;
        margin: 0 auto;
        display: block;
        @include kotra();
        border: 1px solid #000;

       }

       button:nth-of-type(1) {
        margin-bottom: 15px;
        background-color: #fff;
       }
       button:nth-of-type(2) {
        margin-bottom: 15px;
        background-color: #000;
        color: #fff;
       }

        .close_btn {
            width: 35px; height: 35px;
            position: absolute;
            right: 25px; top: 25px;
            cursor: pointer;

            img {
                width: 100%; 
                object-fit: cover;
            }
        }
    } 

  
   
/*---------------------------detail_box01---------------------------*/

   .detail_box01 {
    width: 1080px; 
    height: auto;
    margin: 0 auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    overflow: hidden;

    .note_btn {
        margin-left: 35px;
        cursor: pointer;
        padding: 40px 0px;
        box-sizing: border-box;
        position: relative;

        p {
            @include kotra();
        }
        
    .note_plus {
        width: 18px;
        height: 18px;
        cursor: pointer;
        position: absolute;
        right: 20px; top: 50%;
        transform: translateY(-50%);
        
        &.active {
            &:before {
                transform: translatey(-50%) rotate(-90deg);
                opacity: 0;
            }
            &:after {
                transform: translatey(-50%) rotate(0);
            }
        }
        
        &:before , &:after {
            content: "";
            display: block;
            background-color: #333;
            position: absolute;		
            top: 50%; left: 0;
            transition: .35s;
            width: 100%;
            height: 2px;
        }
        
        &:before {		
            transform: translatey(-50%);
        }
        
        &:after {
            transform: translatey(-50%) rotate(90deg);
        }
        
    }
    }


    .note_box {
        display: none;
        transition: all 0.3s;

        &>div {
        display: flex;
        gap: 30px;
        
            .note_content {
                width: 100%;
    
                .note_img {
                    width: 340px; height: 260px;
                    background-color: rgba(255, 255, 255, .7);
                    text-align: center;
                    padding: 25px 0;
                    box-sizing: border-box;
        
                    img {
                        width: 250px; height: 200px;
                        object-fit: cover;
                    }
                }
                .note_name {
                    width: 340px; height: 50px;
                    background-color: rgba(255, 255, 255, 0.7);
        
                    p {
                        @include kotra();
                        text-align: center;
                        line-height: 50px;
                    }
                }
        
                .note_txt {
                    width: 340px; height: 95px;
                    background-color: rgba(255, 255, 255, 0.7);
                    @include kotra();
                    font-size: 14px;
                    padding: 5px 20px;
                    box-sizing: border-box;
                    text-align: center;
                    margin-bottom: 40px;
                }
    
            }
    
            .note_content:nth-child(2) {
    
                .note_img {
    
                    img {
                        width: 210px; height: 210px;
                    }
                }
            }
        }

        
    }
   }

   /*---------------------------detail_box02---------------------------*/

   .detail_box02 {
    width: 1080px; 
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    .in_btn {
        margin-left: 35px;
        cursor: pointer;
        padding: 40px 0px;
        box-sizing: border-box;
        position: relative;

        p {
            @include kotra();
        }

        .in_plus {
            width: 18px;
            height: 18px;
            cursor: pointer;
            position: absolute;
            right: 20px; top: 50%;
            transform: translateY(-50%);
            
            &.active {
                &:before {
                    transform: translatey(-50%) rotate(-90deg);
                    opacity: 0;
                }
                &:after {
                    transform: translatey(-50%) rotate(0);
                }
            }
            
            &:before , &:after {
                content: "";
                display: block;
                background-color: #333;
                position: absolute;		
                top: 50%; left: 0;
                transition: .35s;
                width: 100%;
                height: 2px;
            }
            
            &:before {		
                transform: translatey(-50%);
            }
            
            &:after {
                transform: translatey(-50%) rotate(90deg);
            }
        }
    }

    .in_box {
        display: none;

        &>div {
            margin-bottom: 60px;
             p {
                @include bookk01();
                font-size: 14px;
            }
        }
           
        

        
    }
}

/*---------------------------review_content---------------------------*/

.review_content {
    width: 1080px; 
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    .review_btn {
        margin-left: 35px;
        cursor: pointer;
        padding: 40px 0px;
        box-sizing: border-box;
        position: relative;

        p {
            @include kotra();
        }

        .review_plus {
            width: 18px;
            height: 18px;
            cursor: pointer;
            position: absolute;
            right: 20px; top: 50%;
            transform: translateY(-50%);
            
            &.active {
                &:before {
                    transform: translatey(-50%) rotate(-90deg);
                    opacity: 0;
                }
                &:after {
                    transform: translatey(-50%) rotate(0);
                }
            }
            
            &:before , &:after {
                content: "";
                display: block;
                background-color: #333;
                position: absolute;		
                top: 50%; left: 0;
                transition: .35s;
                width: 100%;
                height: 2px;
            }
            
            &:before {		
                transform: translatey(-50%);
            }
            
            &:after {
                transform: translatey(-50%) rotate(90deg);
            }
            
        }

    } /*review_btn*/

    .riview_box {
        display: none;

        .reviwe_01 {
            display: flex;
            margin-bottom: 40px;

            .box01 {
                width: 100px; height: 176px;
                margin-right: 20px;
                position: relative;

                .part01 {
                    width: 100px; height: 80px;
                    background-color: #fff;
                    padding: 15px 0;
                    box-sizing: border-box;
                    margin-bottom: 10px;

                    .star {
                        display: flex;
                        gap: 3px;
                        justify-content: center;
                        margin-bottom: 15px;

                        &>div {
                            width: 12px; height: 12px;
    
                            img {
                                width: 100%; height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    p {
                        @include kotra();
                        font-size: 14px;
                        text-align: center;
                    }

                }

                .part02 {
                    width: 100px; height: 86px;
                    background-color: #fff;
                    border: 1px solid #f3f3f3;
                    box-sizing: border-box;
                    cursor: pointer;
                    transition: all .3s;

                    p {
                        @include kotra();
                        @include text(86px);
                    }
                }

                .part02:hover {
                    background-color: #000;
                    color: #fff;
                }
            }

            .box02 {
                width: calc(100% - 120px);
                height: 176px;
                position: relative;
                overflow: hidden;

                .swiper-wrapper {

                    .swiper-slide {
                        width: 176px; height: 176px;
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
    
                         img {
                            display: block;
                            width: 176px;
                            height: 176px;
                            object-fit: cover;
                        }
                    }

                }
              
                
                
                
            }
        } /*reviwe_01*/

        .review_txt {
            width: 100%; height: auto;
            display: none;
            margin-bottom: 40px;
            overflow: hidden;

            
            &>div {
                width: 960px;
                float: left;
                margin-right: 20px;

                #description-input {
                    width: 100%;
                    height: 100px;
                    box-sizing: border-box;
                    border: 1px solid #f3f3f3;
                    padding: 10px;
                    outline: none;
                }
                #description-input::placeholder {
                    @include kotra();
                }

                .photo_input {
                    margin: 10px 0;
                    @include kotra();
                }
            }
            

            

            .upload_btn {
                width: 100px; height: 100px;
                float: left;
                box-sizing: border-box;
                border: 1px solid #ccc;
                background-color: #fff;
                @include kotra();
                cursor: pointer;
            }
        }

        .review_02 {
            box-sizing: border-box;
            display: flex;
            gap: 20px;
            cursor: pointer;

            &>div {
                width: 200px;
                height: 250px;
                margin-bottom: 40px;
                background-color: #fff;
                padding: 10px;
                box-sizing: border-box;
                position: relative;

                .star {
                    display: flex;
                    gap: 5px;
                    height: 70px;
                    align-items: center;
                    justify-content: center;

                    div {
                        width: 15px; height: 15px;

                        img {
                            width: 100%; height: 100%;
                            object-fit: cover;
                        }
                    }
                }
                
                p {
                    @include kotra();
                    font-size: 14px;
                    margin-bottom: 20px;
                    text-align: center;
                }
                p:nth-of-type(3) {
                    position: absolute;
                    bottom: 0; left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .gallery {
            display: flex;
            gap: 20px;

            .photo-item {
                display: inline-block;
                width: 200px;
                height: 300px;
                padding: 10px;
                text-align: center;
                margin-bottom: 40px;
                box-sizing: border-box;
                background-color: #fff;
                position: relative;

                img {
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    margin-bottom: 10px;
                  }

                p {
                    margin-bottom: 15px;
                    @include kotra();
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                }

                button {
                    padding: 5px 10px;
                    color: #ccc;
                    background-color: #fff;
                    border: none;
                    border-bottom: 1px solid #ccc;
                    cursor: pointer;
                    position: absolute;
                    bottom: 20px; left: 50%;
                    transform: translateX(-50%);
                }
              } 
        }
    }
}


.box02 .swiper-button-next::after, .swiper-button-prev::after {
    color: #fff;
  }

  .parcel {
    width: 1080px; 
    height: auto;
    margin: 0 auto;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

    .parcel_btn {
        margin-left: 35px;
        cursor: pointer;
        padding: 40px 0px;
        box-sizing: border-box;
        position: relative;

        p {
            @include kotra();
        }

        .parcel_plus {
            width: 18px;
            height: 18px;
            cursor: pointer;
            position: absolute;
            right: 20px; top: 50%;
            transform: translateY(-50%);
            
            &.active {
                &:before {
                    transform: translatey(-50%) rotate(-90deg);
                    opacity: 0;
                }
                &:after {
                    transform: translatey(-50%) rotate(0);
                }
            }
            
            &:before , &:after {
                content: "";
                display: block;
                background-color: #333;
                position: absolute;		
                top: 50%; left: 0;
                transition: .35s;
                width: 100%;
                height: 2px;
            }
            
            &:before {		
                transform: translatey(-50%);
            }
            
            &:after {
                transform: translatey(-50%) rotate(90deg);
            }
        }
    }

    .parcel_box {
        display: none;

        &>div {
            margin-bottom: 60px;
             p {
                @include kotra();
                font-size: 14px;
            }

            .strong {
                font-weight: bold;
            }
        }

        
           
        

        
    }
}


.suggestion {
    width: 1080px; 
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 100px;
    cursor: pointer;

    .suggestion_tit {
        margin-left: 35px;
        cursor: pointer;
        padding: 40px 0px;
        box-sizing: border-box;
        position: relative;

        p {
            @include kotra();
        }
    }

    .suggestion_box {
        display: flex;
        gap: 20px;

        .box {
            width: 256px; height: 400px;
            background-color: rgba(255,255,255,.7);
            padding: 20px 23px;
            box-sizing: border-box;
    
            .box_img {
                width: 210px; height: 225px;
                margin: 0 auto;
                margin-bottom: 35px;
    
                
                img {
                    width: 100%; height: 100%;
                    object-fit: cover;
    
                }
            }
            p{
                font-size: 13px;
                text-align: center;
                @include bookk02();
                margin-bottom: 15px;
            }

            p:nth-of-type(2) {
                @include kotra();
            }

        }

    }
    
}


.sns_area {
    width: 100%;
    height: 370px;
    margin: 0 auto;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;

    /* .slide_wrap {

        .slide_show {
            width: 900px; height: 200px; overflow: hidden;
            position: absolute;
            left: 0; top: 0;
             margin: auto;
          }
    } */

    .sns_tit {
        width: 1300px; height: 60px;
        margin: 0 auto;
        line-height: 60px;
        
    
        h1 {
            font-family: 'Bookk Myungjo';
            font-weight: 300;
            font-size: 25px;
        }
    
    }
    
    .snsSwiper {
        width: 1300px;
        height: 310px;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
        
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: url(../img/main/search_curcor.png) 2 2, auto;

        .cart_icon {
            position: absolute;
            top: 10px; right: 10px;
            width: 35px; height: 35px;
            border: 2px solid #000;
            box-sizing: border-box;
            border-radius: 50%;
            cursor: pointer;

            img:nth-child(1) {
                width: 100%;
                position: absolute;
            }
            img:nth-child(2) {
                width: 100%;
                position: absolute;
                display: none;
            }
        } /*cart_icon*/

        .sns_txt {
            position: absolute;
            bottom: -70px; left: 0;
            background-color: rgba(0,0,0,0.5);
            width: 100%;
            height: 70px;
            border-radius: 30px 30px 0px 0px;
            padding: 10px 10px;
            box-sizing: border-box;
            transition: all 0.3s;
            

            p {
                color: #fff;
                font-family: 'Bookk Myungjo';
                font-weight: 300;
                font-size: 13px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                 overflow: hidden;
            }
            p:nth-child(1) {
                margin-bottom: 10px;
            }
        }
        
      }

      .swiper-slide:hover .sns_txt {
        bottom: 0;
    }
    .cart_icon:hover {
        border: 2px solid #fff;

        img:nth-child(1) {
            display: none;
        }
        img:nth-child(2) {
            display: block;
        }
    }
  
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .swiper-button-next {
        position: absolute;
        top: 22px; right: 0;
        background-color: rgba(255,255,255,0.7);
        width: 80px; height: 310px;
      }
      .swiper-button-next::after, .swiper-button-prev::after {
        color: #000;
      }
      .swiper-button-prev {
        position: absolute;
        top: 22px; left: 0;
        background-color: rgba(255,255,255,0.7);
        width: 80px; height: 310px;
      }

}

/*---------------------------modal---------------------------*/
.sns_modal {
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        display: none;
    
        .bg {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6);
          }
    
          .modalBox {
            position: absolute;
            background-color: #fff;
            width: 830px;
            height: 700px;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            overflow: hidden;
          }
    
          .sns_info01 {
            width: 550px;
            height: 100%;
            float: left;
            border-right: 1px solid #eee;
            box-sizing: border-box;
            cursor: default;
    
            .sns_image {
                width: 550px; height: 500px;
                padding: 15px;
                box-sizing: border-box;
    
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
    
            .sns_txt {
                width: 550px; height: 200px;
                background-color: #f3f3f3;
                font-size: 14px;
                @include kotra();
                padding: 15px;
                box-sizing: border-box;
    
                p {
                    margin-bottom: 10px;
                }
                p:nth-child(4) {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
          }
    
          .sns_info02 {
            width: 280px;
            height: 100%;
            float: left;
            padding: 50px 20px;
            box-sizing: border-box;
    
            .info02_img {
                width: 200px; height: 200px;
                margin: 0 auto;
                margin-bottom: 30px;
    
                img {
                    width: 100%;
                }
            }
            .btn_box {
                width: 180px;
                margin: 0 auto;
    
                .cart_btn {
                    width: 180px; height: 50px;
                    background-color: #fff;
                    border: 1px solid #000;
                    box-sizing: border-box;
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Bookk Myungjo';
                    font-weight: 300;
                    margin-bottom: 15px;
                    cursor: pointer;
                }
    
                .buy_btn {
                    width: 180px; height: 50px;
                    background-color: #000;
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    font-family: 'Bookk Myungjo';
                    font-weight: 300;
                    cursor: pointer;
                }
    
            }
            
          }
    
          .closeBtn {
            position: absolute;
            top: 5px; right: 5px;
            width: 35px; height: 35px;
            border: none;
            background-color: transparent;
            cursor: pointer;
    
            img {
                width: 100%;
            }
          }
    
      }
}


/*---------------------------footer---------------------------*/
.footer {
    width: 100%; height: 350px;
    background-color: #444;
    margin: 0 auto;
    padding: 25px 0;
    box-sizing: border-box;
    cursor: default;

    .footer_box {
        width: 1300px; height: 100%;
        box-sizing: border-box;
        border: 2px solid #ddd;
        margin: 0 auto;
        @include kotra();
        padding: 35px 250px 35px 115px;
        position: relative;

        .footer_list {
            margin-bottom: 30px;
            position: relative;

            ul {
                display: flex;
                gap: 20px;

                li {

                    a {
                        color: #fff;
                        font-size: 12px; 
                        padding: 10px 10px; 
                        box-sizing: border-box;
                    }
                }
                li:nth-child(4) a{
                    font-weight: bold;
                }
                li:nth-child(5) a{
                    font-weight: bold;
                }
            }
        } /*footer_list*/

        .list_box {
            width: 120px;
            height: 190px;
            position: absolute;
            background-color: #444;
            border: 1px solid #fff;
            box-sizing: border-box;
            padding: 10px 10px;
            display: none;

            li {
                
                a {
                    font-size: 12px;
                    color: #fff;
                }
            }
        }

        .list_box li a:hover {
            font-weight: bold;
        }

        .list_box01 {
            top: 60px; left: 90px;
        }
        .list_box02 {
            top: 60px; left: 180px;
        }
        .list_box03 {
            top: 60px; left: 274px;
        }

        .footer_txt01 {
            font-size: 12px;
            color: #fff;
            margin-bottom: 5px;
        }

        .footer_txt02 {
            display: flex;
            gap: 30px;
            font-size: 12px;
            color: #fff;
            margin-bottom: 5px;

            span {

                a{
                color: #fff;
                text-decoration: underline;
                }
            }
        } /*footer_txt2*/

        .footer_txt03 {
            display: flex;
            gap: 30px;
            color: #fff;
            font-size: 12px;
            margin-bottom: 5px;
        } /*footer_txt03*/

        .footer_txt04 {
            color: #fff;
            font-size: 12px;
            margin-bottom: 40px;
        } /*footer_txt04*/

        .copyright {
            display: flex;
            gap: 10px;
            
            p {
                color: #fff;
                font-size: 12px;
            }
            span {
                color: #fff;
                text-decoration: underline;
                font-size: 12px;
            }
        } /*copyright*/ 

        .footer_mark {
            position: absolute;
            top: 40px; right: 250px;

            .mark_box {
                border: 1px solid #fff;
                box-sizing: border-box;
                padding: 5px 0;
                width: 120px;
                height: 60px;
                text-align: center;

                p {
                    color: #fff;
                    font-family: 'Bookk Myungjo';
                    font-weight: 300;
                }
                p:nth-child(1) {
                    letter-spacing: 1px;
                    font-size: 13px;
                    text-align: center;
                }
                p:nth-child(2) {
                    letter-spacing: 1px;
                    font-size: 10px;
                    text-align: center;
                    border-bottom: 1px solid #fff;
                    box-sizing: border-box;
                    padding-bottom: 5px;
                }

                span {
                    font-size: 10px;
                    color: #fff;
                    display: block;
                    padding-top: 2px;
                    color: #fff;
                    font-family: 'Bookk Myungjo';
                }
            } /*mark_box*/

            p {
                font-size: 12px;
                color: #fff;
                text-align: center;
                @include kotra();
            }
         } /*footer_mark*/

         .sns_box {
            display: flex;
            position: absolute;
            right: 234px; bottom: 110px;

            .sns_icon {
                width: 50px; height: 50px;

                img {
                    width: 100%; 
                }
            }
         }
    }
}


/*---------------------------top_btn---------------------------*/

.top_btn {
    width: 45px; height: 45px;
     background-color: #FCF9EE;
     border: 1px solid #000;
     border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    padding-top: 8px;
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 50px;
    opacity: 0;
    

    img { 
        width: 60%;
    }
}
