@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #FCF9EE;
}

/*-------------------font-------------------*/
/* .your-style {
    font-family: 'Bookk Myungjo';
    font-weight: 300;
    font-style: normal;
}
.your-style {
    font-family: 'Bookk Myungjo';
    font-weight: bold;
    font-style: normal;
} //영어폰트_부크크
*/
@font-face {
  font-family: "KOTRA_GOTHIC";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/KOTRA_GOTHIC.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/*-------------------logo_box-------------------*/
.header_wrap.drop {
  position: fixed;
  top: 0;
  background-color: #fcf9ee;
  z-index: 999;
  border: none;
}
.header_wrap.drop .logo_box p {
  color: #000;
}
.header_wrap.drop .lnb #main_lnb > li a {
  color: #000;
}

header {
  width: 100%;
  height: auto;
  position: relative;
  top: 0px;
  left: 0;
}

.header_wrap {
  width: 100%;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  height: 80px;
  position: relative;
  z-index: 1;
  transition: all 0.5s;
}

.header_area {
  width: 1300px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.logo_box {
  float: left;
  padding: 13px 0;
  box-sizing: border-box;
  margin-right: 45px;
}
.logo_box p {
  font-family: "Bookk Myungjo";
  font-weight: bold;
  color: #000;
  text-align: center;
}
.logo_box p:nth-child(1) {
  font-size: 30px;
}
.logo_box p:nth-child(2) {
  font-size: 12px;
  letter-spacing: 5px;
}

.lnb #main_lnb > li {
  float: left;
  box-sizing: border-box;
  line-height: 80px;
  display: block;
  height: 80px;
  padding-left: 80px;
}
.lnb #main_lnb > li > a {
  color: #000;
  font-family: "Bookk Myungjo";
  font-size: 20px;
  font-weight: bold;
  height: 80px;
  display: block;
}
.lnb #main_lnb > li .font_color, .lnb #main_lnb > li .font_color:hover {
  backface-visibility: hidden;
  position: relative;
  transition: 0.1s color ease;
  text-decoration: none;
}

.font_color.after:after {
  content: "";
  height: 2px;
  width: 0px;
  background: #000;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: -0.25em;
  transition: 0.5s all ease;
  backface-visibility: hidden;
  transform: translateX(-50%);
}

.lnb_item:hover .font_color.after:after {
  width: 100%;
}

.sub_menu_area {
  width: 100vw;
  height: 60px;
  /* margin-left: calc(-50vw + 50%); */
  background-color: #FCF9EE;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.sub_menu_area .sub_menu {
  display: block;
  width: 1300px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  left: 315px;
  top: 0;
}
.sub_menu_area .sub_menu li {
  float: left;
  line-height: 60px;
  padding-right: 50px;
}
.sub_menu_area .sub_menu li a {
  font-size: 16px;
  font-family: "KOTRA_GOTHIC";
}
.sub_menu_area .sub_menu02 {
  left: 435px;
}
.sub_menu_area .sub_menu03 {
  left: 557px;
}
.sub_menu_area .sub_menu04 {
  left: 680px;
}

.gnb_icon_area {
  float: right;
  margin-right: 45px;
  line-height: 90px;
  /*search_box*/
  /*login_box*/
}
.gnb_icon_area .search_box {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}
.gnb_icon_area .search_box img {
  width: 95%;
  position: absolute;
  top: 23px;
  left: 0;
}
.gnb_icon_area .login_box {
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 25px;
  position: relative;
}
.gnb_icon_area .login_box img {
  width: 100%;
  position: absolute;
  top: 23px;
  left: 0;
}
.gnb_icon_area .cart_box {
  width: 30px;
  height: 30px;
  float: left;
  position: relative;
}
.gnb_icon_area .cart_box img {
  width: 100%;
  position: absolute;
  top: 23px;
  left: 0;
}
.gnb_icon_area .cart_box .cart_black {
  width: 100%;
  left: 0;
  top: 23px;
}

/*gnb_icon_area*/
/*---------------------------search_area---------------------------*/
.search_area {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 0px;
  background-color: #FCF9EE;
  z-index: 2;
  /* display: none; */
  overflow: hidden;
  transition: all 0.3s;
}
.search_area .search {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
  /*search_content*/
}
.search_area .search .search_logo {
  position: relative;
  width: 193px;
  color: #000;
  z-index: 2;
  padding: 10px 0;
  box-sizing: border-box;
}
.search_area .search .search_logo a {
  font-family: "Bookk Myungjo";
  font-weight: bold;
  text-align: center;
}
.search_area .search .search_logo a p:nth-child(1) {
  font-size: 30px;
}
.search_area .search .search_logo a p:nth-child(2) {
  font-size: 12px;
  letter-spacing: 5px;
}
.search_area .search .search_content {
  width: 700px;
  height: 120px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
}
.search_area .search .search_content .search_bar {
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}
.search_area .search .search_content .search_bar .search_input {
  border: none;
  background-color: transparent;
  width: 650px;
  height: 40px;
  padding: 0px 10px;
  box-sizing: border-box;
  outline: none;
  font-size: 18px;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
}
.search_area .search .search_content .search_bar .search_input::-moz-placeholder {
  font-size: 17px;
  /* line-height: 50px; */
}
.search_area .search .search_content .search_bar .search_input::placeholder {
  font-size: 17px;
  /* line-height: 50px; */
}
.search_area .search .search_content .search_bar .search_icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.search_area .search .search_content .search_bar .search_icon img {
  width: 100%;
}
.search_area .search .tag_area {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.search_area .search .tag_area a {
  background-color: #fff;
  padding: 8px 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  border: 1px solid #000;
}
.search_area .search .tag_area a:hover {
  background-color: #000;
  color: #fff;
}
.search_area .search .search_close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.search_area .search .search_close img {
  width: 100%;
}

/*---------------function_txt---------------*/
.skill_area {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 0;
  box-sizing: border-box;
}
.skill_area .route_txt {
  display: flex;
  height: 120px;
  align-items: flex-end;
}
.skill_area .route_txt p {
  font-family: "Bookk Myungjo";
  font-weight: bold;
  font-size: 15px;
}
.skill_area .route_txt span {
  width: 12px;
  margin: 0 15px;
}
.skill_area .route_txt span img {
  width: 100%;
}
.skill_area .sort_area {
  display: flex;
  cursor: pointer;
}
.skill_area .sort_area p {
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  font-size: 15px;
}
.skill_area .sort_area .arrow {
  width: 20px;
  height: 20px;
}
.skill_area .sort_area .arrow img {
  width: 100%;
}
.skill_area .sort_box {
  position: absolute;
  right: -13px;
  bottom: -90px;
  width: 80px;
  height: 100px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: none;
  z-index: 2;
  background-color: #fff;
  cursor: pointer;
}
.skill_area .sort_box ul li {
  text-align: center;
  height: 25px;
  display: block;
  line-height: 30px;
  font-size: 14px;
}
.skill_area .sort_box ul li:hover {
  font-weight: bold;
}

.wrap {
  margin-bottom: 80px;
  width: 1120px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.wrap .cologne_product {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* cologne_box */
}
.wrap .cologne_product .cologne_box {
  width: 360px;
  height: 420px;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  cursor: pointer;
  margin-bottom: 30px;
}
.wrap .cologne_product .cologne_box .img_box {
  width: 290px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.wrap .cologne_product .cologne_box .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(10px 6px 6px #c3c3c3);
  transition: all 0.3s;
}
.wrap .cologne_product .cologne_box p {
  font-size: 14px;
  text-align: center;
}
.wrap .cologne_product .cologne_box p:nth-of-type(1) {
  font-family: "Bookk Myungjo";
  font-weight: 300;
  margin-bottom: 10px;
}
.wrap .cologne_product .cologne_box p:nth-of-type(2) {
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  margin-bottom: 12px;
}
.wrap .cologne_product .cologne_box p:nth-of-type(3) {
  font-family: "Bookk Myungjo";
  font-weight: bold;
  font-size: 12px;
}
.wrap .cologne_product .cologne_box .cologne_hover {
  position: absolute;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  width: 290px;
  height: 35px;
  background-color: #000;
  border-radius: 20px;
  transition: all 0.3s;
  opacity: 0;
  cursor: pointer;
}
.wrap .cologne_product .cologne_box .cologne_hover p {
  color: #fff;
  line-height: 35px;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
}
.wrap .cologne_product .cologne_box .cologne_hover:hover {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.wrap .cologne_product .cologne_box .cologne_hover:hover p {
  color: #000;
}
.wrap .cologne_box:hover .cologne_hover {
  opacity: 1;
}
.wrap .cologne_box:hover > p {
  display: none;
}
.wrap .cologne_box:hover .img_box img {
  transform: scale(1.1);
}

.cologne_modal_area .cologne_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  display: none;
}
.cologne_modal_area .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.cologne_modal_area .modalBox {
  position: absolute;
  background-color: #fff;
  width: 860px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 1xp solid #dbdbdb;
  box-sizing: border-box;
}
.cologne_modal_area .modalBox .cologne_info01 {
  float: left;
  width: 400px;
  height: 500px;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}
.cologne_modal_area .modalBox .cologne_info01 img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: drop-shadow(10px 6px 6px #c3c3c3);
}
.cologne_modal_area .modalBox .cologne_info02 {
  float: left;
  width: 460px;
  height: 500px;
  font-size: 14px;
  padding: 60px 20px 30px;
  box-sizing: border-box;
  text-align: center;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  position: relative;
  cursor: default;
}
.cologne_modal_area .modalBox .cologne_info02 p:nth-child(1) {
  font-family: "Bookk Myungjo";
  font-weight: normal;
  margin-bottom: 15px;
}
.cologne_modal_area .modalBox .cologne_info02 p:nth-child(2) {
  margin-bottom: 30px;
}
.cologne_modal_area .modalBox .cologne_info02 p:nth-child(3) {
  margin-bottom: 15px;
}
.cologne_modal_area .modalBox .cologne_info02 p:nth-child(4) {
  margin-bottom: 45px;
}
.cologne_modal_area .modalBox .cologne_info02 p:nth-child(5) {
  font-family: "Bookk Myungjo";
  font-weight: bold;
}
.cologne_modal_area .modalBox .cologne_info02 span {
  position: absolute;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  display: block;
  width: 300px;
  height: 35px;
  background-color: #000;
  border-radius: 20px;
  line-height: 35px;
  transition: all 0.3s;
}
.cologne_modal_area .modalBox .cologne_info02 span a {
  box-sizing: border-box;
  padding: 10px 100px;
  color: #fff;
  font-family: "Bookk Myungjo";
  font-weight: normal;
}
.cologne_modal_area .modalBox .cologne_info02 span:hover {
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
}
.cologne_modal_area .modalBox .cologne_info02 span:hover a {
  color: #000;
}
.cologne_modal_area .modalBox .cologne_info02 button {
  width: 40px;
  height: 40px;
  background-color: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
  border: none;
  cursor: pointer;
}
.cologne_modal_area .modalBox .cologne_info02 button img {
  width: 100%;
}

.pagenation_area {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.pagenation_area div {
  border: 1px solid #ccc;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.pagenation_area div p {
  font-size: 14px;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  line-height: 25px;
}
.pagenation_area div:nth-child(1), .pagenation_area div:nth-child(2), .pagenation_area div:nth-child(8), .pagenation_area div:nth-child(9) {
  background-color: #f2f2f2;
  line-height: 25px;
  text-align: center;
}
.pagenation_area div:nth-child(1) img, .pagenation_area div:nth-child(2) img, .pagenation_area div:nth-child(8) img, .pagenation_area div:nth-child(9) img {
  width: 60%;
}
.pagenation_area div:nth-child(3), .pagenation_area div:nth-child(4), .pagenation_area div:nth-child(5), .pagenation_area div:nth-child(6), .pagenation_area div:nth-child(7) {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
}
.pagenation_area p.page {
  background-color: #000;
  color: #fff;
}

/*---------------------------footer---------------------------*/
.footer {
  width: 100%;
  height: 350px;
  background-color: #444;
  margin: 0 auto;
  padding: 25px 0;
  box-sizing: border-box;
  cursor: default;
}
.footer .footer_box {
  width: 1300px;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #ddd;
  margin: 0 auto;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
  padding: 35px 250px 35px 115px;
  position: relative;
  /*footer_list*/
  /*footer_txt2*/
  /*footer_txt03*/
  /*footer_txt04*/
  /*copyright*/
  /*footer_mark*/
}
.footer .footer_box .footer_list {
  margin-bottom: 30px;
  position: relative;
}
.footer .footer_box .footer_list ul {
  display: flex;
  gap: 20px;
}
.footer .footer_box .footer_list ul li a {
  color: #fff;
  font-size: 12px;
  padding: 10px 10px;
  box-sizing: border-box;
}
.footer .footer_box .footer_list ul li:nth-child(4) a {
  font-weight: bold;
}
.footer .footer_box .footer_list ul li:nth-child(5) a {
  font-weight: bold;
}
.footer .footer_box .list_box {
  width: 120px;
  height: 190px;
  position: absolute;
  background-color: #444;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 10px 10px;
  display: none;
}
.footer .footer_box .list_box li a {
  font-size: 12px;
  color: #fff;
}
.footer .footer_box .list_box li a:hover {
  font-weight: bold;
}
.footer .footer_box .list_box01 {
  top: 60px;
  left: 90px;
}
.footer .footer_box .list_box02 {
  top: 60px;
  left: 180px;
}
.footer .footer_box .list_box03 {
  top: 60px;
  left: 274px;
}
.footer .footer_box .footer_txt01 {
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
}
.footer .footer_box .footer_txt02 {
  display: flex;
  gap: 30px;
  font-size: 12px;
  color: #fff;
  margin-bottom: 5px;
}
.footer .footer_box .footer_txt02 span a {
  color: #fff;
  text-decoration: underline;
}
.footer .footer_box .footer_txt03 {
  display: flex;
  gap: 30px;
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}
.footer .footer_box .footer_txt04 {
  color: #fff;
  font-size: 12px;
  margin-bottom: 40px;
}
.footer .footer_box .copyright {
  display: flex;
  gap: 10px;
}
.footer .footer_box .copyright p {
  color: #fff;
  font-size: 12px;
}
.footer .footer_box .copyright span {
  color: #fff;
  text-decoration: underline;
  font-size: 12px;
}
.footer .footer_box .footer_mark {
  position: absolute;
  top: 40px;
  right: 250px;
  /*mark_box*/
}
.footer .footer_box .footer_mark .mark_box {
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 5px 0;
  width: 120px;
  height: 60px;
  text-align: center;
}
.footer .footer_box .footer_mark .mark_box p {
  color: #fff;
  font-family: "Bookk Myungjo";
  font-weight: 300;
}
.footer .footer_box .footer_mark .mark_box p:nth-child(1) {
  letter-spacing: 1px;
  font-size: 13px;
  text-align: center;
}
.footer .footer_box .footer_mark .mark_box p:nth-child(2) {
  letter-spacing: 1px;
  font-size: 10px;
  text-align: center;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding-bottom: 5px;
}
.footer .footer_box .footer_mark .mark_box span {
  font-size: 10px;
  color: #fff;
  display: block;
  padding-top: 2px;
  color: #fff;
  font-family: "Bookk Myungjo";
}
.footer .footer_box .footer_mark p {
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-family: "KOTRA_GOTHIC";
  font-weight: normal;
}
.footer .footer_box .sns_box {
  display: flex;
  position: absolute;
  right: 234px;
  bottom: 110px;
}
.footer .footer_box .sns_box .sns_icon {
  width: 50px;
  height: 50px;
}
.footer .footer_box .sns_box .sns_icon img {
  width: 100%;
}

/*---------------------------top_btn---------------------------*/
.top_btn {
  width: 45px;
  height: 45px;
  background-color: #FCF9EE;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  box-sizing: border-box;
  padding-top: 8px;
  cursor: pointer;
  position: fixed;
  bottom: 100px;
  right: 50px;
  opacity: 0;
}
.top_btn img {
  width: 60%;
}/*# sourceMappingURL=style.css.map */